<h1 mat-dialog-title class="my-0 py-0 pb-1"><span class="px-2 pt-1"> <mat-icon>{{ !panelOpenState ? "shared" : "person_add" }}</mat-icon></span>{{ !panelOpenState? "Compartilhar": "  Cadastrar Contato"
  }}

</h1>
<mat-divider></mat-divider>

<div mat-dialog-content>
  <div class="form" *ngIf="!panelOpenState">
    <div class="row">
      <div class="col-10">
        <mat-form-field class="full-width">
          <mat-label>Telefone</mat-label>
          <input type="tel" autofocus="off" matInput placeholder="+55 + número" [(ngModel)]="telefone"
            [ngModelOptions]="{ standalone: true }" />
        </mat-form-field>
      </div>
      <div class="col-2 p-0 d-flex justify-content-start align-items-center text-start">
        <button class="mb-3" mat-mini-fab type="button" color="accent" (click)="compartilhar()">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
    <mat-form-field class="full-width" *ngIf="contatos">
      <mat-label>Contatos</mat-label>
      <mat-select [(ngModel)]="contatoSelecionado" (ngModelChange)="telefone = contatoSelecionado?.telefone" [ngModelOptions]="{ standalone: true }">
        <div *ngFor="let contato of contatos">
          <mat-option [value]="contato">{{ contato?.nome }}</mat-option>
        </div>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="!panelOpenState" class="col d-flex justify-content-around">
    <button color="primary" mat-mini-fab (click)="panelOpenState = true; telefone = ''; nome = ''">
      <mat-icon>add</mat-icon>
    </button>

    <button color="primary" mat-mini-fab [mat-dialog-close]>
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <div class="form" *ngIf="panelOpenState == true">
    <mat-form-field class="full-width">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="nome" [ngModelOptions]="{ standalone: true }" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Telefone</mat-label>
      <input matInput type="tel" placeholder="+55 + númbero" [(ngModel)]="telefone"
        [ngModelOptions]="{ standalone: true }" />
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-mini-fab color="accent" type="button" (click)="salvarContato()">
        <mat-icon>done</mat-icon>
      </button>
      <button mat-mini-fab color="primary" type="button" (click)="panelOpenState = false">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="spacer"></span>
      <button [matMenuTriggerFor]="menu" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item type="button" (click)="removerContatos()">
          Remover Contatos
        </button>
      </mat-menu>
    </div>
  </div>
</div>
