<h1 mat-dialog-title>
  <mat-icon>{{ !panelOpenState ? "shared" : "person_add" }}</mat-icon>{{
  !panelOpenState
  ? "
  Compartilhar"
  : " Cadastrar"
  }}
</h1>

<div mat-dialog-content>
  <div class="form" *ngIf="!panelOpenState" autocomplete="off">
    <div class="row">
      <div class="col-10">
        <mat-form-field class="full-width">
          <mat-label>Telefone</mat-label>
          <input type="text" autocomplete="off" autofocus="off" matInput placeholder="55dddnumero"
            [(ngModel)]="telefone" [ngModelOptions]="{ standalone: true }" />
        </mat-form-field>
      </div>
      <div class="col-2 p-0 d-flex justify-content-start align-items-center text-start">
        <button class="mb-3" mat-mini-fab type="button" color="accent" (click)="compartilhar()">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
    <mat-form-field class="full-width">
      <mat-label>Contatos</mat-label>
      <mat-select [(ngModel)]="contatoSelecionado" (ngModelChange)="telefone = contatoSelecionado?.telefone"
        [ngModelOptions]="{ standalone: true }">
        <div *ngFor="let contato of contatos">
          <mat-option [value]="contato">{{ contato?.nome }}</mat-option>
        </div>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="!panelOpenState" class="col d-flex justify-content-around">
    <button color="primary" mat-mini-fab (click)="panelOpenState = true; telefone = ''; nome = ''">
      <mat-icon>add</mat-icon>
    </button>

    <button color="primary" mat-mini-fab [mat-dialog-close]>
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <div class="form" *ngIf="panelOpenState == true">
    <mat-form-field class="full-width">
      <mat-label>Nome</mat-label>
      <input matInput autocomplete="off" [(ngModel)]="nome" [ngModelOptions]="{ standalone: true }" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Telefone</mat-label>
      <input matInput type="text" autocomplete="off" placeholder="55dddnumero" [(ngModel)]="telefone"
        [ngModelOptions]="{ standalone: true }" />
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-raised-button color="primary" type="button" (click)="salvarContato()">
        Salvar
      </button>
      <button mat-stroked-button color="accent" type="button" (click)="panelOpenState = false">
        Voltar
      </button>
      <span class="spacer"></span>
      <button mat-mini-fab color="primary" type="button" (click)="removerContatos()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
