<mat-card appCardHover>

  <div class="row d-flex justify-content-center">
    <div class="col-4 pt-1">
      <mat-card-title>{{favorito.book?.name}}</mat-card-title>
      <mat-card-subtitle>{{favorito.book?.author}}</mat-card-subtitle>
    </div>
    <div class="col-6 text-end px-0 pt-1">
      <p>{{favorito.book?.group}}</p>
      <p>Capítulo {{favorito.chapter}} - Versículo {{favorito.number}}</p>
    </div>
  </div>
  <mat-divider></mat-divider>


  <mat-card-content>
    <div class="row d-flex m-0 pt-2 justify-content-between">
      <div class="col-10 p-0">
        <span class="fs-6 m-0"> {{favorito.text}}</span>
      </div>
      <button [matMenuTriggerFor]="menu" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="remover()">Remover</button>
      </mat-menu>
    </div>

  </mat-card-content>
</mat-card>
