<div class="container ">
  <h2 class="mt-4">Buscar Livro </h2>
  <p>Abaixo, você pode selecionar um livro</p>
  <mat-divider></mat-divider>

  <h4 class="mt-3">Selecione o Livro</h4>
  <form class="form" (ngSubmit)="buscar()">
    <mat-form-field class="full-width">
      <mat-label>Livros</mat-label>
      <mat-select [(ngModel)]="livroSelecionado" [ngModelOptions]="{standalone: true}">
        <label class="fs-6  px-3 text-secondary">Nome - Autor</label>
        <div *ngFor="let livro of livros$ | async">
          <mat-option [value]="livro.abbrev.pt">{{ livro.name }} - {{ livro.author }}</mat-option>
        </div>
      </mat-select>
    </mat-form-field>
  </form>

  <div class="mb-2 d-flex gap-2">
    <button mat-raised-button (click)="buscar()" type="button" color="primary">Buscar</button>
    <a href="/dashboard" mat-stroked-button type="button" color="accent">Voltar</a>
    <button mat-stroked-button type="button" (click)="limpar()" color="primary">
      Limpar
    </button>
  </div>

  <div *ngIf="livro$|async">
    <div class="row mt-5">
      <div class="col-lg-4 col-sm-12">
        <app-card-livros [livro]="(livro$ | async)!" />
      </div>
    </div>
  </div>
</div>
