<section class="container">
  <div class="d-flex align-items-center justify-content-center row my-5">
    <div class="col-lg-3 col-sm-10">
      <div class="row d-grid gap-2">
        <a href="/capitulos" mat-fab extended color="primary">Pesquisar Capítulos</a>
        <a href="/versiculos" mat-fab extended color="primary">Pesquisar Versículos</a>
        <a href="/versiculos-aleatorios" mat-fab extended color="primary">Versículo Aleatório</a>
        <a href="/versiculos-aleatorios/livro" mat-fab extended color="primary">Versículo Aleatório de Um Livro</a>
      </div>
    </div>
    <div class="col-lg-4 text-center my-3">
      <img class="img-fluid" width="250" src={{imagemDash}} />
    </div>
    <div class="col-lg-3 col-sm-10">
      <div class="row d-grid gap-2">
        <a href="/versiculos/palavra" mat-fab extended color="primary">Pesquisar Versículos Por Palavra</a>
        <a href="/livros" mat-fab extended color="primary">Visualizar Livros</a>
        <a href="/livros/pesquisar" mat-fab extended color="primary">Pesquisar Livro</a>
        <a href="/favoritos" mat-fab extended color="primary">Favoritos</a>
      </div>
    </div>
  </div>
</section>
