<mat-sidenav-container class="sidenav-container">

  <!-- sidenav -->
  <mat-sidenav #drawer class="sidenav"  fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side' " [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>

      <a class="px-4" mat-list-item href="/dashboard">
        <div class="d-flex align-items-center"><mat-icon color="accent" class="fs-4 me-2">dashboard</mat-icon>
          <span class="fs-6 fw-light">Inicio</span>
        </div>
      </a>

      <a class="px-4" mat-list-item href="/favoritos">
        <div class="d-flex align-items-center"><mat-icon color="accent" class="fs-4 me-2">favorite</mat-icon>
          <span class="fs-6 fw-light">Favoritos</span>
        </div>
      </a>

      <a class="px-4" mat-list-item href="/capitulos">
        <div class="d-flex align-items-center"><mat-icon color="accent" class="fs-4 me-2">auto_stories</mat-icon>
          <span class="fs-6 fw-light  ">Capítulos</span>
        </div>
      </a>

      <app-sub-menus titulo='Versículos' icone="text_snippet" [opcoesSubMenu]="opcoesVersiculos" />
      <app-sub-menus titulo='Livros' icone="library_books" [opcoesSubMenu]="opcoesLivros" />
      <app-sub-menus titulo='Sortear' icone="wb_sunny" [opcoesSubMenu]="opcoesAleatorios" />


      <a mat-list-item color="accent" (click)="alterarTema()">
        <div class="d-flex align-items-center"><mat-icon color="primary" class="fs-4 me-2">contraste</mat-icon>
          <span class="fs-6">Tema</span>
        </div>
      </a>


    </mat-nav-list>
  </mat-sidenav>

  <!-- end -->

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-icon  *ngIf="!(isHandset$ | async)" class="fs-4">menu_book</mat-icon>
      <a class="my-2" mat-button  routerLink="/dashboard"> Bíblia do Gui</a>

      <span class="spacer"></span>
      <button mat-button color="accent" (click)="alterarTema()">
        <div class="d-flex align-items-center"><mat-icon color="accent" class="fs-4 me-2">contraste</mat-icon>
        </div>
      </button>

    </mat-toolbar>
    <mat-spinner class="carregamento" diameter="35" *ngIf="mostrarCarregamento$ | async"
      style="position: fixed; top: 10%; left: 80%;  margin: auto; z-index: 1000;"></mat-spinner>
    <ng-content></ng-content>
  </mat-sidenav-content>

</mat-sidenav-container>
